LearningWorkingMemory/GroupedExpeData
LearningWorkingMemory/SummaryStats
*/*.pdf
*.pdf
ProbabilisticSwitching/Results
reversal4choicegame/data
reversal4choicegame/logs
reversal4choicegame/paramhistory
Reversal4choicegame/numpy*
reversal4choicegame/Panda*
reversal4choicegame/Anaconda*
butterflytask/Results
butterflytask/Cogent2000v1.32
*.html
*.Rhistory
*.xlsx
*.csv
*.idea
*/__pycache__
*.DS_Store
